# docker compose build
# docker compose run --rm model_predictive_control bash

services:
  model_predictive_control:
    build:
      context: docker
      dockerfile: Dockerfile_ros2
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    image: path_planning-image
    container_name: model_predictive_control-container
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/home/ubuntu/.Xauthority
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "${HOME}/.Xauthority:/home/ubuntu/.Xauthority:ro"
      - ${PWD}/model_predictive_control:/home/ubuntu/model_predictive_control:rw
    network_mode: host
    tty: true
    stdin_open: true
    working_dir: /home/ubuntu/model_predictive_control
    command: /bin/bash
    restart: unless-stopped
